<% if @user.errors.any?%>
  <ul>
    <% @user.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |form| %>
  <%= form.label "Username" %>
  <%= form.text_field :username %>
  <%= form.label "Password" %>
  <%= form.password_field :password %>
  <%= form.submit 'Create' %>
<% end %>